.info_contact{
    position: fixed;
    top: 100px;
    left: 275px;
    height: 60px;
    width: 461px;
    font-family: 'Raleway';
    font-size: 17px;
    color: rgba(66, 66, 66, 1);
    letter-spacing: 0.01em;
    line-height: 24px;
    /* border: solid olive; */
}
.contactinfo_box{
    position: fixed;
    top: 170px;
    left: 275px;
    height: 200px;
    width: 461px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 600;
    color: rgba(63, 63, 63, 1);
    letter-spacing: 0.01em;
    /* border: solid pink; */
}
.icon_location_contact{
    position: absolute;
    top: 45px;
    left: 5px;
}
.icon_phoneno_contact{
  position: absolute;
  top: 105px;
  left: 5px;
}
.icon_email_contact{
  position: absolute;
  top: 154px;
  left: 5px;
}
.data_contact{
    position: relative;
    top: 10px;
    left: 40px;
    height: 41px;
    width: 224px;
    margin-bottom: 15px;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 500;
    color: rgba(109, 109, 109, 1);
    letter-spacing: 0.01em;
    line-height: 22px;
    /* border: solid blue; */
}
#map {

    position: fixed;
    top: 75px;
    left: 550px;
    height: 700px;
    width: 650px;
  }

  .form_contact{
    position: fixed;
    top: 380px;
    left: 275px;
    height: 400px;
    width: 461px;
    /* border: solid firebrick; */
  }
  .formhead_contact{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 21px;
    width: 201px;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 600;
    color: rgba(63, 63, 63, 1);
    letter-spacing: 0.01em;
    line-height: 34px;
  }
  .form-contact{
    position: absolute;
    top: 50px;
    left: 0px;
  }

  .form-contact .form-control{
    position: relative;
    top: 0px;
    left: 0px;
    height: 45px;
    width: 435px;
    border: 1px solid rgba(227, 227, 227, 1);
    border-radius: 10px;
  }
  .sendmsg_btn{
    position: absolute;
    top: 290px;
    left: 0px;
    height: 50px;
    width: 435px;
    color: rgba(227, 227, 227, 1);
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    background-color: rgba(26, 24, 63, 1);
    border: 1px solid rgba(227, 227, 227, 1);
    border-radius: 10px;
  }