@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');

.head_categories{
    top:40px;
    left: 270px;
    height: 50px;
    width: 400px;
    /* border: solid gold; */
}
.wrapper_A_categories{
    position: fixed;
    top: 150px;
    left: 260px;
    height: 600px;
    width: 1300px;
    /* border: solid slateblue; */
}
.outer_box{
    position: relative;
    top: 0px;
    left: 0px;
    height: 200px;
    width: 600px;
    background-color: white;
    /* border: solid darkgoldenrod; */
    box-shadow: none;
    text-decoration: none;
    display: inline-block;
}
.categories_box{
    position: relative;
    top: 20px;
    left: 20px;
    height: 150px;
    width: 500px;
    background-color: #F0F0F0;
    box-shadow: none;
    text-decoration: none;
    display: inline-block;
}
.categories_box:hover{
    background-color:  rgba(26, 24, 63, 1);
}
.category_name{
    position: relative;
    top: 10px;
    left: 20px;
    height: 60px;
    width: 460px;
    padding-left: 20px;
    padding-top: 10px;
    /* border: solid tomato; */
    background-color: white;
    box-shadow: none;
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 23px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.01em;
}
.category_edit_btn{
    position: relative;
    top: 30px;
    left: 20px;
    padding: 10px;
    padding-left: 55px;
    padding-right: 35px;
    font-size: 18px;
    background-color: #17BF71;
    box-shadow: none;
    text-decoration: none !important;
    font-family: 'Raleway';
    font-weight: 600;
    color: white;
    letter-spacing: 0.01em;
    border-radius: 50px;
}
.category_delete_btn{
    position: relative;
    top: 30px;
    left: 30px;
    height: 40px;
    width: 230px;
    border: none;
    /* padding: 10px; */
    padding-left: 55px;
    padding-right: 35px;
    font-size: 18px !important;
    background-color:#F2295F;
    box-shadow: none;
    /* text-decoration: none !important; */
    font-family: 'Raleway';
    font-weight: 600;
    color: white;
    letter-spacing: 0.01em;
    border-radius: 50px;
}

.category_delete_btn:hover, .category_edit_btn:hover{
    color: white;
    font-size: 20px;
    box-shadow: none;
    text-decoration: none;
}

.add_item_admin{
    position: absolute;
    top: 30px;
    left: 1200px;
    height: 40px;
    width: 150px;
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 1000;
    color:#030303;
    padding-left: 40px;
}
.head_categories{
    position: fixed;
    top: 10px;
    left: 280px;
    height: 40px;
    width: 500px;
    font-family: 'Raleway';
    font-size: 35px;
    font-weight: 1000;
    color:#030303;
    letter-spacing: 0.01em;
    text-transform: uppercase;
   
  }
  .add_item_btn{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 30px;
  }
  .edit_icon{
      position: absolute;
      top: 10px;
      left: 25px;
      height: 20px;
      width: 20px;
  }
  .delete_icon{
    position: absolute;
    top: 8px;
    left: 25px;
    height: 25px;
    width: 25px;
  }

  .description_price{
      left: 5px;
  }
  .modal-title{
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 1000;
    color:black;
    letter-spacing: 0.01em;
    text-transform: uppercase;
  }
  .modal-body{
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 1000;
    color: black;
    letter-spacing: 0.01em;
  }
  .delete_btn_modal , .close_btn_modal{
    background-color:#F0F0F0 ;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 1000;
    color:black;
    font-weight: 500 !important;
    letter-spacing: 0.01em;
    width: 100px
  }
  .delete_btn_modal:hover , .close_btn_modal:hover{
    background-color:  rgba(26, 24, 63, 1);  
    color: white;
  }