@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');
.head{
  /*Text styles for "Cakes are " */
  position: absolute;
  top: 437px;
  left: 400px;
  height: 105px;
  width: 969px;
  font-family: 'Raleway';
  font-size: 76px;
  font-weight: 700;
  color: white;
  text-align: center;
  line-height: 42px;

}
.head2{
    /*Text styles for "Every birt" */
    position: absolute;
    top: 490px;
    left: 400px;
    height: 105px;
    width: 969px;
    font-family: 'Raleway';
    font-size: 23px !important;
    font-weight: 300;
    color:white;
    text-align: center;
    line-height: 42px;
}

.has-search .form-control {
  padding-left: 2.375rem;
  text-align:left;
  padding-left: 70px;
  position:absolute;
  top: 550px;
  left:400px;
  height: 60px;
  width: 972px;
  border-radius: 100px;
  border: 1px solid #f8f8f8;
}
/* 
.has-search .form-control-feedback {
  position: absolute;
  line-height: 2.375rem;
  color: #aaa;
  top: 570px;
  left:420px;
} */
.search_icon{
  position: absolute;
  top: 565px;
  left: 410px;
  height: 60px;
  width: 60px;
  color: rgba(141, 141, 141, 1);
}

.form-group,input,button{
 
  font-family: 'Raleway';
  font-size: 15px !important;
  font-weight: 300;
  color: black;
  text-align: left;
  line-height: 42px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.wrapper{
  display: flex;
  position: relative;
}

.body_banner{
    background-image: url("/images/banner.png"); 
}
.sidebar{
  position:absolute;
  left: 0px;
}
.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background:  #1f1d55;
  padding: 30px 0px;
  position: fixed;
}

.sidebar_contents{
  position: absolute;
  top: 150px;
  left: 30px;
  height: 318px;
  width: 150px;
  line-height: 40px;
}
.sidebar_link{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #afadd9;
  letter-spacing: 0.01em;
  cursor: pointer;
}    

.sidebar_link:hover{
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.categories{
  position: absolute;
  top: 150px;
  left: 33px;
  height: 15px;
  width: 72px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #afadd9;
  letter-spacing: 0.01em;
  line-height: 78px;
  cursor: pointer;
} 
.inbox{
  position: absolute;
  top: 180px;
  left: 34px;
  height: 11px;
  width: 35px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #afadd9;
  letter-spacing: 0.01em;
  line-height: 78px;
  cursor: pointer;
}
.profile{
  position: absolute;
  top: 210px;
  left: 34px;
  height: 11px;
  width: 46px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  letter-spacing: 0.01em;
  line-height: 78px;
} 

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #1f1d55;
}
    
.cakeland_logo{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 230px;
  width: 270px;
  }

.login_box{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 285px;
  width: 200px;
  background-color: rgba(37, 35, 80, 1);
  background: transparent;
  position: fixed;
  
}

.input-container{
	position:fixed;
  margin-bottom:25px;
  left: 0px;
}

.input-container input{ 
  background: #363365 !important;
}

.login_email{
  position: absolute;
  top: 550px;
  left: 0px;
  height: 50px;
  width: 200px;
  font-family: 'Raleway';
  font-size: 5px;
  color: #635f9d;
  padding-left: 30px;
  border:0;
  border-bottom:1px solid #635f9d;  
  background-color: #363365 !important;
  z-index: 1;
}
.email_logo{
  position: absolute;
  top: 569px;
  left: 8px;
  z-index: 2;
  height: 13px;
  width: 19px;
  color: #635f9d;
}
.login_password{
  position: absolute;
  top: 600px;
  left: 0px;
  height: 50px;
  width: 200px;
  font-family: 'Raleway';
  font-size: 5px;
  color: #635f9d;
  padding-left: 30px; 
  border:0;
  border-bottom:1px solid #635f9d;
  background-color: #363365 !important;   
  z-index: 1; 
}

.password_logo{
  position: absolute;
  top: 618px;
  left: 8px;
  z-index: 2;
  height: 13px;
  width: 19px;
  color:#635f9d;
}

.login_btn{
  position: fixed;
  top: 720px;
  left: 0px;
  bottom: 100px;
  height: 60px;
  width: 200px;
  text-align: center;
  background-color: #bb24ac;
  font-family: 'Raleway';
  font-weight: bold;
  color: white;
  font-size: 1px;
}

.signup{
  position: fixed;
  top: 800px;
  left: -30px;
  height: 120px;
  width: 200px;
  font-family: 'Raleway';
  font-size: 12px;
  color: #9592cc;
  text-align: center;
  line-height: 38px;
  
}

.signup_link{
  position: fixed;
  top: 800px;
  left: 65px;
  height: 120px;
  width: 200px;
  font-family: 'Raleway';
  font-size: 13px;
  font-weight: 600 ;
  color: #ffffff;
  text-align: center;
  line-height: 38px;
  
}

.signup_link:hover{
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.box{
  position: relative;
  top: 70px;
  left: 0px;
}

